<!DOCTYPE html>
<html lang="pt_br">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    <title>Tabela</title>
</head>
<body>
    
    <div class="filter">

    </div>

    <table>
        <thead>
            <% header.forEach(colun => { %>
                <th> <%= colun  %> </br> </th> 
            <% }) %>
            <br>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <% row.forEach(element => { %>
                     <td><%= element %></td> 
                        <%   }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>

</body>
</html>